## Week 4 Homework

Task:

Given data about an instrumental variable, find the effect. X is the treatment, W the confounder, Y the outcome, and Z the instrument. Use homework_4.1.csv.

In [1]:
import numpy as np
import pandas as pd
import math
import os

In [2]:
# read the data
df_1 = pd.read_csv(r'C:\Users\JT von Seggern\DS Masters Repos\2025-summer-mod-6\homework_4.1.csv')
df_1 = df_1.drop(columns='Unnamed: 0')
df_1.head()

   Z         W         X         Y
0  0 -0.155644 -0.496971  0.282484
1  1  0.529539  2.284240  4.740596
2  1  0.910514  0.872232  3.449569
3  1 -0.705476  2.157260  3.002531
4  0 -0.590874 -0.386730 -1.848796

In [3]:
df_1.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5000 entries, 0 to 4999
Data columns (total 4 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   Z       5000 non-null   int64
 1   W       5000 non-null   float64
 2   X       5000 non-null   float64
 3   Y       5000 non-null   float64
dtypes: float64(3), int64(1)
memory usage: 156.4 KB

In [4]:
df_1.describe()

                 Z            W            X            Y
count  5000.000000  5000.000000  5000.000000  5000.000000
mean      0.501400    -0.009934     0.501343     0.740279
std       0.500048     0.997779     1.127010     2.225679
min       0.000000    -3.303406    -3.404084    -7.032995
25%       0.000000    -0.697551    -0.272628    -0.787994
50%       1.000000    -0.032234     0.516908     0.718374
75%       1.000000     0.647618     1.254057     2.240705
max       1.000000     4.783257     4.693866    10.081975

In [5]:
# Differences in Differences between Y and X for each unique value of Z

# difference in Y
y_1 = df_1['Y'][df_1['Z'] == 1].values
y_2 = df_1['Y'][df_1['Z'] == 0].values
y_diff = np.mean(y_1) - np.mean(y_2)

# difference in X
x_1 = df_1['X'][df_1['Z'] == 1].values
x_2 = df_1['X'][df_1['Z'] == 0].values
x_diff = np.mean(x_1) - np.mean(x_2)

# difference in Y and X
diff = y_diff / x_diff

print(f"Difference in Differences (Y - X): {diff:.4f}")

Difference in Differences (Y - X): 1.5619

In [ ]:
# Find the average of Y and X values for each unique value of Z for a narrow range of W

# narrow range of W
w_min = -.5
w_max = .5

# difference in y for narrow range of W
y_1_narrow = df_1['Y'][(df_1['Z'] == 1) & (df_1['W'] >= w_min) & (df_1['W'] <= w_max)].values
y_2_narrow = df_1['Y'][(df_1['Z'] == 0) & (df_1['W'] >= w_min) & (df_1['W'] <= w_max)].values
y_diff_narrow = np.mean(y_1_narrow) - np.mean(y_2_narrow)

# difference in x for narrow range of W
x_1_narrow = df_1['X'][(df_1['Z'] == 1) & (df_1['W'] >= w_min) & (df_1['W'] <= w_max)].values
x_2_narrow = df_1['X'][(df_1['Z'] == 0) & (df_1['W'] >= w_min) & (df_1['W'] <= w_max)].values
x_diff_narrow = np.mean(x_1_narrow) - np.mean(x_2_narrow)

# difference in Y and X for narrow range of W
diff_narrow = y_diff_narrow / x_diff_narrow
print(f"Difference in Differences (Y - X) for narrow range of W: {diff_narrow:.4f}")

Difference in Differences (Y - X) for narrow range of W: 1.5545

In [8]:
# import the 4.2a and 4.2b data files
df_2 = pd.read_csv(r'C:\Users\JT von Seggern\DS Masters Repos\2025-summer-mod-6\homework_4.2.a.csv')
df_3 = pd.read_csv(r'C:\Users\JT von Seggern\DS Masters Repos\2025-summer-mod-6\homework_4.2.b.csv')

df_2 = df_2.drop(columns='Unnamed: 0')
df_3 = df_3.drop(columns='Unnamed: 0')

In [9]:
df_2.head()

           X  Y
0  85.070366  1
1  79.038051  1
2  86.987260  1
3  73.520540  1
4  95.446232  1

In [10]:
df_3.head()

          X2  Y2
0  73.863472   0
1  90.532024   1
2  72.563689   0
3  78.487566   0
4  80.404340   0